<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%- include('header') %> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../stylesheets/organization.css">
        <link rel="stylesheet" href="../stylesheets/adminhome.css">
    </head>

    <body>
        <div class="wrapper">
            <div class="box">
                <%- include('menuDaily')  %> 
            </div>
            <div class="container">
                <div class="row">
                  <div class="nm-fm col-md-12">
                    <h2 class="title">TẠO YÊU CẦU CẤP MỚI CHỨNG THƯ SỐ</h2>
                    <div class="choose-certificate">
                        <a href="/digital-certificate/personal" class="btn btn-primary">Cá nhân</a>
                        <a href="/digital-certificate/organization"  class="btn btn-primary">Tổ chức</a>
                    </div>
                </div>
                <!-- edit -->
                <div id="modalEditCertificatePersonal" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="form-area">
                              <div class="top-modal">
                                <h2 style="margin-bottom:15px; color:firebrick;" class="title-modal">Chỉnh sửa yêu cầu CTS Cá nhân</h2>
                                <span class="close">&times;</span>
                              </div>
                              <form action="/digital-certificate/personal/edit" method="POST">
                                <div id="form">
                                    <div class="info-user">
                                        <div>
                                            <h3>Thông tin khách hàng</h3>
                                        </div>
                                        <div id="wrt-info">
                                            <div class="if-fm mn" >
                                                <label>
                                                    Họ và tên <span class="note">*</span>
                                                </label>
                                                <input type="text" id="hoTenNguoiDK" name="hoTenNguoiDK">
                                            </div>
                                            <div class="if-fm">
                                                <div class="if-fm ck">
                                                    <label>Số CMTND/ Hộ Chiếu <span class="note">*</span></label>
                                                    <input type="text" id="soCMT" name="soCMT">
                                                </div>
                                                <div class="if-fm ck">
                                                    <label>Ngày cấp <span class="note">*</span></label>
                                                    <input type="date" id="ngayCapCMT" name="ngayCapCMT">
                                                </div>
                                            </div>
                                            <div class="if-fm">
                                                <div class="if-fm ck">
                                                    <label>Nơi cấp <span class="note">*</span></label>
                                                    <input type="text" id="noiCapCMT" name="noiCapCMT">
                                                </div>
                                                <div class="if-fm ck">
                                                    <label>Mã số thuế</label>
                                                    <input type="text" id="MSTCaNhan" name="MSTCaNhan">
                                                </div>
                                            </div>
                                            <div class="if-fm mn">
                                                <label>
                                                    Địa chỉ  <span class="note">*</span>
                                                </label>
                                                <input type="text" id="diaChi" name="diaChi">
                                            </div>
                                            <div class="if-fm">
                                                <div class="if-fm ck">
                                                    <label>Mã số thuế công ty</label>
                                                    <input type="text" id="MSTCongTy" name="MSTCongTy">
                                                </div>
                                                <div class="if-fm ck">
                                                    <label>Ngành nghề</label>
                                                    <input type="text" id="nganhNghe" name="nganhNghe">
                                                </div>
                                            </div>
                                            <div class="if-fm mn">
                                                <label>
                                                    Công ty/ Tổ chức
                                                </label>
                                                <input type="text" id="tenCongTy" name="tenCongTy">
                                            </div>
                                            <div class="if-fm mn">
                                                <label>
                                                    Chức vụ
                                                </label>
                                                <input type="text" id="chucVu" name="chucVu">
                                            </div>
                                            <div class="if-fm">
                                                <div class="if-fm ck">
                                                    <label>Tỉnh/ Thành Phố <span class="note">*</span></label>
                                                    <select name="tinhThanh" id="tinhThanh" class="tinhThanh" onchange="getQuanHuyen(this.value)">
                                                        <option value="0">--Lựa chọn--</option>
                                                    </select>
                                                </div>
                                                <div class="if-fm ck">
                                                    <label>Quận/ Huyện <span class="note">*</span></label>
                                                    <select name="quanHuyen" id="quanHuyen">
                                                        <option value="0">Chọn tỉnh thành trước</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="if-fm">
                                                <div class="if-fm ck">
                                                    <label>Email cá nhân  <span class="note">*</span></label>
                                                    <input type="text" id="email" name="email">
                                                </div>
                                                <div class="if-fm ck">
                                                    <label>Số điện thoại  <span class="note">*</span></label>
                                                    <input type="text" id="soDienThoai" name="soDienThoai">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                    
                                    <div class="info-user">
                                        <div>
                                            <h3>Yêu cầu cấp chứng thư số</h3>
                                        </div>
                                        <div id="wrt-info">
                                            <div class="if-fm">
                                                <div class="if-fm ck">
                                                    <label>Gói chứng thư <span class="note">*</span></label>
                                                    <select name="goiCTSId" id="services" onchange="chooseService(this.value)">
                                                
                                                    </select>
                                                </div>
                                                <div class="if-fm ck">
                                                    <label>Thời hạn sử dụng <span class="note">*</span> </label>
                                                    <input type="text"  name="thoiHan" id="thoiHan" readonly="true" style="background:#eee">
                                                </div>
                                            </div>
                                            <div class="if-fm">
                                                <div class="if-fm ck">
                                                    <label>Giá cước</label>
                                                    <input type="text" name="gia" id="gia" readonly="true" style="background:#eee">
                                                </div>
                                                <div class="if-fm ck">
                                                    <label>Người thực hiện <span class="note">*</span></label>
                                                    <input type="text" name="nguoiThucHien" readonly="true" value="<%= locals.user.hoTen %>" style="background:#eee">
                                                </div>
                                                <input type="hidden" name="createdBy" value="<%= locals.user._id %>">
                                            </div>
                                        </div>
                                        <% if(typeof errors != 'undefined') { 
            
                                            errors.forEach(msg => {    
                                        %> 
                                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                            <%= msg.msg %>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                   
                                        <% }) }%>
                                    </div>
                                </div>
            
                                <div class="hoso">
                                    <div>
                                        <h3>Hồ sơ khách hàng</h3>
                                    </div>
                                    <div id="wrt-info">
                                        <div class="if-fm mn" >
                                            <label>
                                                Chọn tệp: 
                                            </label>
                                            <input type="file" name="myfile" />
            
                                        </div>
                                    </div>
                                </div>
                     
                                <div id="register">
                                    <div class="rg-btn">
                                        <input type="submit" value="Ghi lại" class="btn btn-primary">
                                        <input type="submit" value="Ghi lại & gửi" class="btn btn-primary">
                                        <a href="/" class="btn btn-secondary">Đóng</a>
                                        <input type="hidden" name="idEdit" id="id">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- end-modal personal -->

                <!-- model organization -->
                <div id="modalEditCertificateOrganization" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="form-area">
                              <div class="top-modal">
                                <h2 style="margin-bottom:15px; color:firebrick;" class="title-modal">Chỉnh sửa yêu cầu CTS Doanh Nghiệp</h2>
                                <span class="close closeDN">&times;</span>
                              </div>
                              <form action="/digital-certificate/organization/edit" method="POST">
                                <div id="form">
                                    <div class="info-user">
                                        <div>
                                            <h3>Thông tin khách hàng</h3>
                                        </div>
                                        <div id="wrt-info">
                                            <div class="if-fm mn" >
                                                <label for="">Tên giao dịch <span>*</span> </label>
                                               
                                                <input type="text" name="tenGD" id="tenGD_DN">
                                            </div>
                                            <div class="if-fm">
                                                <div class="if-fm ck">
                                                    <label>Giấy phép ĐKKD</label>
                                                    <input type="text" name="giayPhepDKKD" id="giayPhepDKKD_DN">
                                                </div>
                                                <div class="if-fm ck">
                                                    <label>Ngày cấp</label>
                                                    <input type="date" name="ngayCapGiayPhepDKKD" id="ngayCapGiayPhepDKKD_DN">
                                            </div>
                                            </div>
                                            <div class="if-fm">
                                                <div class="if-fm ck">
                                                    <label>Mã số thuế</label>
                                                    <input type="text" name="MST" id="MST_DN">
                                                </div>
                                                <div class="if-fm ck">
                                                    <label>Công ty mẹ</label>
                                                    <input type="text" name="CtyMe" id="CtyMe">
                                                </div>
                                            </div>
                                            <div class="if-fm">
                                                <div class="if-fm ck">
                                                    <label>Cam kết không hủy</label>
                                                    <input type="text" id="camKet_DN" value="" disabled>
                                                </div>
                                                <div class="if-fm ck">
                                                    <label>Mật khẩu</label>
                                                    <input type="password" name="password" id="password_DN">
                                                </div>
                                            </div>
                                            <div class="if-fm mn">
                                                <label>
                                                    Địa chỉ *
                                                </label>
                                                <input type="text" name="diaChi" id="diaChi_DN">
                                            </div>
                                            <div class="if-fm">
                                                <div class="if-fm ck">
                                                    <label>Tỉnh/ Thành Phố <span class="note">*</span></label>
                                                            <select name="tinhThanh" id="tinhThanh_DN" class="tinhThanh" onchange="getQuanHuyen(this.value)">
                                                                <option value="0">--Lựa chọn--</option>
                                                            </select>
                                                </div>
                                                <div class="if-fm ck">
                                                    <label>Quận/ Huyện <span class="note">*</span></label>
                                                            <select name="quanHuyen" id="quanHuyen_DN">
                                                                <option value="0">Chọn tỉnh thành trước</option>
                                                            </select>
                                                </div>
                                            </div>
                                            <div class="if-fm">
                                                <div class="if-fm ck">
                                                    <label>Email giao dịch</label>
                                                    <input type="text" name="emailGD" id="emailGD_DN">
                                                </div>
                                                <div class="if-fm ck">
                                                    <label>Số điện thoại</label>
                                                    <input type="text" name="soDienThoaiCongTy" id="soDienThoaiCongTy_DN">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                    
                                    <div class="info-user">
                                        <div>
                                            <h3>Thông tin chủ doanh nghiệp (Giám đốc Chủ Tich HĐQT)</h3>
                                        </div>
                                        <div id="wrt-info">
                                            <div class="if-fm">
                                                <div class="if-fm ck">
                                                    <label>Họ và tên</label>
                                                    <input type="text" name="hoTenChuDoanhNghiep" id="hoTenChuDoanhNghiep_DN">
                                                </div>
                                                <div class="if-fm ck">
                                                    <label>Chức vụ</label>
                                                    <input type="text" id="chucVu_DN">
                                                </div>
                                            </div>
                                            <div class="if-fm">
                                                <div class="if-fm ck">
                                                    <label>Số CMTND/HC*</label>
                                                    <input type="text" name="soCMT" id="soCMT_DN">
                                                </div>
                                                <div class="if-fm ck">
                                                        <label>Ngày cấp</label>
                                                        <input type="date" name="ngayCapCMT" id="ngayCapCMT_DN">
                                                </div>
                                            </div>
                                            <div class="if-fm mn">
                                                <label>
                                                    Nơi cấp *
                                                </label>
                                                <input type="text" name="noiCapCMT" id="noiCapCMT_DN">
                                            </div>
                                            <div class="if-fm">
                                                <div class="if-fm ck">
                                                    <label>Email</label>
                                                    <input type="text" name="email" id="email_DN">
                                                </div>
                                                <div class="if-fm ck">
                                                    <label>Số điện thoại</label>
                                                    <input type="text" id="std_DN">
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <% if(typeof errorsDN != 'undefined') { 
                
                                            errorsDN.forEach(msg => {    
                                        %> 
                                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                            <%= msg.msg %>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                   
                                        <% }) }%>
                
                
                                    </div>
                                </div>
                                <div class="yeucau">
                                    <div>
                                        <h3>Yêu cầu cấp chứng thư số</h3>
                                    </div>
                                    <div id="wrt-info">
                                        <div class="if-fm mn" >
                                            <label>
                                                Gói chứng thư
                                            </label>
                                            <select name="goiCTSId" id="services_DN" onchange="chooseService(this.value)">
                                                <option value="">Đăng ký CTS 1 năm</option>
                                            </select>
                                        </div>
                                        <div class="if-fm mn">
                                            <div class="if-fm ck">
                                                <label>Giá cước</label>
                                                <input type="text" name="giaCuoc" id="gia_DN" readonly="true" style="background:#eee">
                                            </div>
                                        </div>
                                        <div class="if-fm mn">
                                            <label>Thời hạn sử dụng <span class="note">*</span> </label>
                                            <input type="text"  name="thoiHan" id="thoiHan_DN" readonly="true" style="background:#eee">
                                        </div>
                                        <div class="if-fm mn">
                                            <div class="if-fm ck">
                                                <label>Người thực hiện <span class="note">*</span></label>
                                                <input type="text" name="nguoiThucHien" readonly="true" value="<%= locals.user.hoTen %>" style="background:#eee">
                                            </div>
                                            <input type="hidden" name="createdBy" value="<%= locals.user._id %>">
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="hoso">
                                    <div>
                                        <h3>Hồ sơ khách hàng</h3>
                                    </div>
                                    <div id="wrt-info">
                                        <div class="if-fm mn" >
                                            <label>
                                                Chọn tệp: 
                                            </label>
                                            <form enctype="multipart/form-data" method="POST">
                                                <input type="file" name="myfile" />
                                        </div>
                                    </div>
                                </div>
                                <div id="register">
                                    <div class="rg-btn">
                                        <input type="submit" value="Ghi lại" class="btn btn-primary">
                                        <input type="submit" value="Ghi lại & gửi" class="btn btn-primary">
                                        <a href="/" class="btn btn-secondary">Đóng</a>
                                        <input type="hidden" name="idEditDN" id="idDN">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- modal organization -->
                
                <!-- edit -->
                    <form action="" style="margin: 5px;padding:25px;margin-top: 2vw;border: solid 0.25px #ccc;">
                        <div id="form">
                            <div class="info-user">
                                <div>
                                    <h3>Tìm kiếm nhanh</h3>
                                </div>
                                <div id="wrt-info">
                                    <div class="if-fm">
                                        <div class="if-fm ck">
                                            <label>Mã Phiếu Yêu Cầu</label>
                                            <input type="text">
                                        </div>
                                        <div class="if-fm ck">
                                            <label>Trạng Thái</label>
                                            <select name="" id="" style="width: 176px;">
                                                <option value="0">Dự thảo</option>
                                                <option value="1">Chờ duyệt lần 1</option>
                                                <option value="2">Chờ duyệt lần 2</option>
                                                <option value="3">Đã duyệt</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="if-fm">
                                        <div class="if-fm ck">
                                            <label>Mã Khách Hàng</label>
                                            <input type="text">
                                        </div>
                                        <div class="if-fm ck">
                                            <label>Tên Giao Dịch</label>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="if-fm">
                                        <div class="if-fm ck">
                                            <label>Số CMTND/HC</label>
                                            <input type="text">
                                        </div>
                                        <div class="if-fm ck">
                                            <label>Giấy Phép DKKD</label>
                                            <input type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="info-user">
                               
                                <div id="wrt-info">
                                    <div class="if-fm">
                                        <div class="if-fm ck">
                                            <label>Tỉnh/Thành Phố</label>
                                            <select name="tinhThanhFilter" id="tinhThanh" style="width: 176px;">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                        <div class="if-fm ck">
                                            <label>Loại Yêu Cầu</label>
                                            <select name="loaiCTSIdFilter" id="quanHuyen"  style="width: 176px;">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="if-fm">
                                        <div class="if-fm ck">
                                            <label>Ngày Yêu Cầu : Từ Ngày</label>
                                            <input type="date">
                                        </div>
                                        <div class="if-fm ck">
                                            <label>Đến Ngày</label>
                                            <input type="date">
                                        </div>
                                    </div>
                    
                                </div>
                            </div>

                        </div>

                        <input type="submit" class="btn btn-primary" value="Tìm kiếm">

                    </form>
                </div>
            </div>
            <h3 class="pl-3">Danh sách phiếu yêu cầu</h3>
            <div class="container">
                <br>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#CTSCaNhan">Cá Nhân</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#CTSDoanhNgiep">Doanh Nghiệp</a>
                  </li>
                </ul>
              
                <!-- Tab panes -->
                <div class="tab-content">
                  <div id="CTSCaNhan" class="container tab-pane active"><br>
                    <div class="row" style="border: 1px solid #aaaaaa;">
                        <form action="/digital-certificate/personal/send-request" method="POST">
                        <table class="table table-bordered" >
                            <thead class="thead-default">
                              <tr>
                                <th scope="col">STT</th>
                                <th scope="col"><input type="checkbox" id="selectAll" onclick="checkAll()"></th>
                                <th scope="col">Sửa</th>
                                <th scope="col">Mã yêu cầu</th>
                                <th scope="col">Họ Tên</th>
                                <th scope="col">CMND</th>
                                <th scope="col">MST</th>
                                <th scope="col">Gói CTS</th>
                                <th scope="col">Thời hạn (năm)</th>
                                <th scope="col">Ngày tạo</th>
                                <th scope="col">Người tạo</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col">Trạng thái hồ sơ</th>
                              </tr>
                            </thead>
                            <tbody id="pendingStatus">
                             
                            </tbody>
                        </table>
                        <div class="action col-md-3 col-md-push-2">
                            <button class="btn btn-primary">Xóa</button>
                            <input type="submit" class="btn btn-primary btn-submit" disabled value="Gửi SmartSign" onsubmit="getCheckboxValue()">
                        </div>
                    </form>
                    </div>
                  </div>
                  <div id="CTSDoanhNgiep" class="container tab-pane fade"><br>
                    <div class="row" style="border: 1px solid #aaaaaa;">
                        <form action="/digital-certificate/organization/send-request" method="POST">
                        <table class="table table-bordered" >
                            <thead class="thead-default">
                              <tr>
                                <th scope="col">STT</th>
                                <th scope="col"><input type="checkbox" id="selectAllDN" onclick="checkAllDN()"></th>
                                <th scope="col">Sửa</th>
                                <th scope="col">Mã yêu cầu</th>
                                <th scope="col">Tên Doanh Ngiệp</th>
                                <th scope="col">Giấy Phép KD</th>
                                <th scope="col">MST</th>
                                <th scope="col">Gói CTS</th>
                                <th scope="col">Thời hạn (năm)</th>
                                <th scope="col">Ngày tạo</th>
                                <th scope="col">Người tạo</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col">Trạng thái hồ sơ</th>
                              </tr>
                            </thead>
                            <tbody id="pendingStatusDN">
                             
                            </tbody>
                        </table>
                        <div class="action col-md-3 col-md-push-2">
                            <button class="btn btn-primary">Xóa</button>
                            <input type="submit" class="btn btn-primary btn-submit1" disabled value="Gửi SmartSign" onsubmit="getCheckboxValueDN()">
                        </div>
                    </form>
                    </div>
                  </div> 
                </div>
              </div>
            <h3 class="pl-3">Đã phê duyệt</h3>
            <div class="container" style="border: 1px solid;">
                <div class="row">
                    <table class="table table-bordered" >
                        <thead class="thead-default">
                          <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Mã yêu cầu</th>
                            <th scope="col">Họ Tên</th>
                            <th scope="col">CMND</th>
                            <th scope="col">MST</th>
                            <th scope="col">Gói CTS</th>
                            <th scope="col">Thời hạn (năm)</th>
                            <th scope="col">Ngày tạo</th>
                            <th scope="col">Người tạo</th>
                            <th scope="col">Trạng thái</th>
                            <th scope="col">Cấp CTS</th>
                          </tr>
                        </thead>
                        <tbody id="approvedStatus">
                         
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        

    </body>
    <script src="../javascripts/listDaiLy1.js" type="module"></script>
    <script src="../javascripts/init.js" type="module"></script>
    <script src="../javascripts/selectSmartSign.js"></script>
</html>
