<!DOCTYPE html>
<html>

<head>
    <title>
        Quản lý tài khoản
    </title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <%- include('header') %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/addmi-add.css">
        <link rel="stylesheet" href="/stylesheets/adminhome.css">
</head>

<body>
    <div class="wrapper">
        <div class="box">
            <%- include('menuAdmin') %>
        </div>
           <!-- The Modal -->
           <div id="modal" class="modal">

            <!-- Modal content -->
              <div class="modal-content">
                
                  <div class="form-area">
                      <div class="top-modal">
                        <h2 style="margin-bottom:15px; color:firebrick;" class="title-modal">Thêm mới tài khoản người dùng</h2>
                        <span class="close">&times;</span>
                      </div>
                      <form action="users/add" method="POST" id="formNewAccount">
                        <div class="form-left">
                            <div class="form-group">
                                <label class="input-group-text col-md-3"><span style="color: red;">*</span> Họ và tên: </label>
                                <input type="text" name="hoTen" id="hoTen" class="form-control">
                            </div>
                            <div class="form-group">
                              <label class="input-group-text col-md-3"><span style="color: red;">*</span> Tên đăng nhập: </label>
                              <input type="text" name="username" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                              <label class="input-group-text col-md-3"><span style="color: red;">*</span> Mật khẩu: </label>
                              <input type="password" id="password" class="form-control">
                            </div>
                            <div class="form-group">
                              <label class="input-group-text col-md-3"><span style="color: red;">*</span> Nhập lại mật khẩu: </label>
                              <input type="password" id="confirmPassword" name="password" class="form-control">
                            </div>
                            <div class="form-group">
                              <label class="input-group-text col-md-3"><span style="color: red;">*</span> Loại tài khoản: </label>
                              <select name="role">
                                 <% if(locals.user.role === 0){ %><option value="0">Admin cấp 1</option> <% } %> 
                                 <% if(locals.user.role === 0){ %><option value="1">Admin cấp 2</option> <% } %> 
                                 <% if(locals.user.role <= 1){ %><option value="2">Đại lý cấp 1</option> <% } %> 
                                <option value="3">Đại lý cấp 2</option>
                              </select>
                            </div>
                            <small>Chú thích: (<span style="color: red;">*</span>) là bắt buộc</small>
                            <button type="submit" id="btnAddAccount" class="btn-primary">Ghi lại</button>
                            <button type="reset" class="btn-secondary">Reset</button>   
                        </div>
                        <div class="form-right">
                            <div class="form-group">
                                <label class="input-group-text col-md-3"> Địa chỉ: </label>
                                <input type="diaChi" name="diaChi" id="diaChi" class="form-control">
                              </div>
                            <div class="form-group">
                                <label class="input-group-text col-md-3"> Trạng thái: </label>
                                <select name="isActive">
                                    <option value="0">Không hoạt động</option>
                                    <option value="1" selected>Hoạt động</option>
                                </select>
                              </div>
                            <div class="form-group">
                                <label class="input-group-text col-md-3"><span style="color: red;">*</span> Tỉnh/TP: </label>
                                <select name="tinhThanhID" class="tinhThanh" id="tinhThanh">

                                </select>
                              </div>
                        </div>
                 
  
                          <input type="hidden" name="belongTo" id="id" value="<%= locals.user._id %> ">
                      
                    
                      </form>
                  </div>
              </div>
  
            </div>
        <form style="margin-top: 1vw;" id="formFindUser">
            <div id="form">
                <div class="info-user">
                    <div>
                        <h3>Thông Tin Tìm Kiếm</h3>
                    </div>
                    <div id="wrt-info">

                        <div class="if-fm">
                            <div class="if-fm ck">
                                <label>Tên đăng nhập</label>
                                <input type="text" name="username" id="usernameFind">
                            </div>
                     
                        </div>
        
              
                
                        </div>
                    </div>
                    <div id="register">
                        <div class="rg-btn">
                            <input type="submit" id="btnFindUser" value="Tìm Kiếm" class="btn btn-primary">
                            <input type="button" value="Thêm Mới" class="btn btn-primary btn-modal">
                        </div>
                    </div>
                </div>
              
        </form>

        <div id="findUserWrapper" style="display:none">
            <form action="/manage-account/change-status" method="POST" style="width:100%">

                <div class="info-user">
                    <div>
                        <h3>Kết Quả Tìm Kiếm</h3>
                    </div>
                    <table class="table table-bordered">
                        <thead class="thead-default">
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Chọn</th>
                                <th scope="col">Tên đăng nhập</th>
                                <th scope="col">Tên đầy đủ</th>
                                <th scope="col">Tỉnh/ TP</th>
                                <th scope="col">Quyền người dùng</th>
                                <th scope="col">Trạng thái</th>    
                            </tr>
                            </thead>
                            <tbody id="resultFindUser">
                            </tbody>
                    </table>
                    <button type="submit" id="notActiveFind" name="notActive" class="btn btn-primary" disabled style="margin:10px">Vô hiệu hóa</button>
                    <button type="submit" id="isActiveFind" name="isActive" class="btn btn-primary" disabled style="margin:10px">Kích hoạt</button>
                </div>
            </form>
        </div>
        <h3 class="pl-3">Danh sách Admin</h3>
        <div class="container">
            <div class="row">
                <table class="table table-bordered">
                    <thead class="thead-default">
                      <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Chọn</th>
                        <th scope="col">Tên đăng nhập</th>
                        <th scope="col">Tên đầy đủ</th>
                        <th scope="col">Tỉnh/ TP</th>
                        <th scope="col">Quyền người dùng</th>
                        <th scope="col">Trạng thái</th>    
                      </tr>
                    </thead>
                    <tbody id="listAccountAdmin">
                        <td colspan="7"><h6>Hiện chưa có tài khoản nào</h6></td>
                    </tbody>
                </table>
                <div class="action col-md-3 col-md-push-2">
                    <button class="btn btn-primary" style="margin:10px">Vô hiệu hóa</button>
                </div>
            </div>
            <div class="pagin-wrapper" id="paginAdmin"></div>
        </div>
        <h3 class="pl-3">Danh sách đại lý</h3>
        <div class="container">
            <div class="row">
                <form action="/manage-account/change-status" method="POST" style="width:100%">
                    <table class="table table-bordered">
                        <thead class="thead-default">
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Chọn</th>
                            <th scope="col">Tên đăng nhập</th>
                            <th scope="col">Tên đầy đủ</th>
                            <th scope="col">Tỉnh/ TP</th>
                            <th scope="col">Quyền người dùng</th>
                            <th scope="col">Trạng thái</th>    
                        </tr>
                        </thead>
                        <tbody id="listAccount">
                            <td><h6>Hiện chưa có tài khoản nào</h6></td>
                        </tbody>
                    </table>
                    
                    <div class="action col-md-3 col-md-push-2">
                        <button type="submit" id="notActive" name="notActive" class="btn btn-primary" disabled style="margin:10px">Vô hiệu hóa</button>
                        <button type="submit" id="isActive" name="isActive" class="btn btn-primary" disabled style="margin:10px">Kích hoạt</button>
                    </div>
                </form>
            </div>
            <div class="pagin-wrapper" id="paginAgency"></div>
        </div>
    </div>
    <div id='status' style="display:none; visibility:hidden"><%= message %></div>
    <div id='redirect' style="display:none; visibility:hidden"><%= urlRedirect %></div>
</body>
<script src="/javascripts/modalBox.js"></script>
<script src="/javascripts/init.js"></script>
<script src="/javascripts/listAccountAdmin1.js" type="module"></script>
<script src="/javascripts/selectAccount.js"></script>
<script src="/vendor/pagination.js"></script>


</html>
