<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('header') %>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/personal.css">
        <link rel="stylesheet" href="/stylesheets/adminhome.css">
</head>
<body>
<div class="wrapper">
    <div class="box">
        <%- include('menuDaiLy') %>
    </div>
    <div class="container">
        <div class="row">
            <div class="nm-fm col-md-12">
                <h2 class="title">CẤP CHỨNG THƯ SỐ CHO TỔ CHỨC/ DOANH NGHIỆP</h2>
            </div>
            <form action="/digital-certificate/organization" method="POST" enctype="multipart/form-data">
                <div id="form">
                    <div class="info-user">
                        <div>
                            <h3>Thông tin khách hàng</h3>
                        </div>
                        <div id="wrt-info">
                            <div class="if-fm mn" >
                                <label for="">Tên giao dịch <span class="note">*</span> </label>
                               
                                <input type="text" name="tenGD" 
                                    value="<% if(prevData.tenGD) { %><%= prevData.tenGD %><% } %>">
                                    
                            </div>
                            <div class="if-fm">
                                <div class="if-fm ck">
                                    <label>Giấy phép ĐKKD <span class="note">*</span></label>
                                    <input type="text" name="giayPhepDKKD"  
                                    value="<% if(prevData.giayPhepDKKD) { %><%= prevData.giayPhepDKKD %><% } %>">
                                </div>
                                <div class="if-fm ck">
                                    <label>Ngày cấp <span class="note">*</span></label>
                                    <input type="date" name="ngayCapGiayPhepDKKD"  
                                    value="<% if(prevData.ngayCapGiayPhepDKKD) { %><%= prevData.ngayCapGiayPhepDKKD %><% } %>">
                            </div>
                            </div>
                            <div class="if-fm">
                                <div class="if-fm ck">
                                    <label>Mã số thuế <span class="note">*</span></label>
                                    <input type="text" name="MST" 
                                    value="<% if(prevData.MST) { %><%= prevData.MST %><% } %>">
                                </div>
                                <div class="if-fm ck">
                                    <label>Công ty mẹ </label>
                                    <input type="text" name="congTyMe"
                                    value="<% if(prevData.congTyMe) { %><%= prevData.congTyMe %><% } %>">
                                </div>
                            </div>
                            <div class="if-fm">
                                <div class="if-fm ck">
                                    <label>Cam kết không hủy <span class="note">*</span></label>
                                    <input type="checkbox" id="camKet" onchange="checkCamKet()" name="camKet"
                                        <%= (prevData.camKet) ? 'checked' : null %> 
                                    >
                                </div>
                                <div class="if-fm ck">
                                    <label>Mật khẩu </label>
                                    <input type="password" name="password"
                                    value="<% if(prevData.password) { %><%= prevData.password %><% } %>"
                                    >
                                </div>
                            </div>
                            <div class="if-fm mn">
                                <label>
                                    Địa chỉ <span class="note">*</span>
                                </label>
                                <input type="text" name="diaChi" 
                                value="<% if(prevData.diaChi) { %><%= prevData.diaChi %><% } %>">
                            </div>
                            <div class="if-fm">
                                <div class="if-fm ck">
                                    <label>Tỉnh/ Thành Phố <span class="note">*</span></label>
                                            <select name="tinhThanh" class="tinhThanh" onchange="getQuanHuyen(this.value)">
                                                <option value="0">--Lựa chọn--</option>
                                            </select>
                                </div>
                                <div class="if-fm ck">
                                    <label>Quận/ Huyện <span class="note">*</span></label>
                                            <select name="quanHuyen" id="quanHuyen">
                                                <option value="0">Chọn tỉnh thành trước</option>
                                            </select>
                                </div>
                            </div>
                            <div class="if-fm">
                                <div class="if-fm ck">
                                    <label>Email giao dịch<span class="note">*</span></label>
                                    <input type="text" name="emailGD"
                                    value="<% if(prevData.emailGD) { %><%= prevData.emailGD %><% } %>">
                                </div>
                                <div class="if-fm ck">
                                    <label>Số điện thoại<span class="note">*</span></label>
                                    <input type="text" name="soDienThoaiCongTy"
                                    value="<% if(prevData.soDienThoaiCongTy) { %><%= prevData.soDienThoaiCongTy %><% } %>">
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="info-user">
                        <div>
                            <h3>Thông tin chủ doanh nghiệp (Giám đốc Chủ Tich HĐQT)</h3>
                        </div>
                        <div id="wrt-info">
                            <div class="if-fm">
                                <div class="if-fm ck">
                                    <label>Họ và tên</label>
                                    <input type="text" name="hoTenChuDoanhNghiep"
                                    value="<% if(prevData.hoTenChuDoanhNghiep) { %><%= prevData.hoTenChuDoanhNghiep %><% } %>">
                                </div>
                                <div class="if-fm ck">
                                    <label>Chức vụ</label>
                                    <input type="text" name="chucVu"
                                    value="<% if(prevData.chucVu) { %><%= prevData.chucVu %><% } %>">
                                </div>
                            </div>
                            <div class="if-fm">
                                <div class="if-fm ck">
                                    <label>Số CMT/HC <span class="note">*</span> </label>
                                    <input type="text" name="soCMT"
                                    value="<% if(prevData.soCMT) { %><%= prevData.soCMT %><% } %>">
                                </div>
                                <div class="if-fm ck">
                                        <label>Ngày cấp <span class="note">*</span></label>
                                        <input type="date" name="ngayCapCMT"
                                        value="<% if(prevData.ngayCapCMT) { %><%= prevData.ngayCapCMT %><% } %>">
                                    </div>
                            </div>
                            <div class="if-fm mn">
                                <label>
                                    Nơi cấp <span class="note">*</span>
                                </label>
                                <input type="text" name="noiCapCMT"
                                value="<% if(prevData.noiCapCMT) { %><%= prevData.noiCapCMT %><% } %>">
                            </div>
                            <div class="if-fm">
                                <div class="if-fm ck">
                                    <label>Email <span class="note">*</span></label>
                                    <input type="text" name="emailChuDoanhNghiep"
                                    value="<% if(prevData.emailChuDoanhNghiep) { %><%= prevData.emailChuDoanhNghiep %><% } %>">
                                </div>
                                <div class="if-fm ck">
                                    <label>Số điện thoại <span class="note">*</span></label>
                                    <input type="text" name="soDienThoaiChuDoanhNghiep"
                                    value="<% if(prevData.soDienThoaiChuDoanhNghiep) { %>
                                        <%= prevData.soDienThoaiChuDoanhNghiep %>
                                        <% } %>">
                                </div>
                            </div>
                        </div>
                 
                    <div>
                        <h3>Yêu cầu cấp chứng thư số</h3>
                    </div>
                    <div id="wrt-info">
                        <div class="if-fm mn" >
                            <label>
                                Gói chứng thư
                            </label>
                            <select name="goiCTSId" id="services" onchange="chooseService(this.value)">
                                <option value="">Đăng ký CTS 1 năm</option>
                            </select>
                        </div>
                        <div class="if-fm mn">
                            <div class="if-fm ck">
                                <label>Giá cước</label>
                                <input type="text" name="giaCuoc" id="gia" readonly="true" style="background:#eee">
                            </div>
                        </div>
                        <div class="if-fm mn">
                            <label>Thời hạn sử dụng  </label>
                            <input type="text"  name="thoiHan" id="thoiHan" readonly="true" style="background:#eee">
                        </div>
                        <div class="if-fm mn">
                            <div class="if-fm ck">
                                <label>Người thực hiện </label>
                                <input type="text" name="nguoiThucHien" readonly="true" value="<%= locals.user.hoTen %>" style="background:#eee">
                            </div>
                            <input type="hidden" name="createdBy" value="<%= locals.user._id %>">
                        </div>
                    </div>
       
                    <% if(typeof errors != 'undefined') { 

                        errors.forEach(msg => {    
                    %> 
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <%= msg.msg %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
               
                    <% }) }%>
                    </div>
                    
                </div>
            
    
                <div class="hoso">
                    <div>
                        <h3>Hồ sơ khách hàng</h3>
                    </div>
                    <div id="wrt-info">
                        <div class="if-fm mn" >
                            <label>
                                Chọn tệp: 
                            </label>
                                <input type="file" name="fileHoSo" />
                        </div>
                    </div>
                </div>
                <div id="register">
                    <div class="rg-btn">
                        <input type="submit" value="Ghi lại" class="btn btn-primary">
                        <a href="/" class="btn btn-secondary">Đóng</a>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

</div>

<div id='status' style="display:none; visibility:hidden"><%= message %></div>

</body>
<script src="/javascripts/init.js"></script>
</html>