
<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <%- include('header') %> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../stylesheets/personal.css">
        <link rel="stylesheet" href="../stylesheets/adminhome.css">

    </head>

    <body>
        <div class="wrapper">
            <div class="box">
                <%- include('menuDaiLy') %> 
            </div>
            <div class="container">
                <div class="row">
                    <div class="nm-fm col-md-12">
                        <h2 class="title">CẤP CHỨNG THƯ SỐ CHO CÁ NHÂN</h2>
                    </div>
                  
                    <form action="/digital-certificate/personal" method="POST" enctype="multipart/form-data">
                        <div id="form">
                            <div class="info-user">
                                <div>
                                    <h3>Thông tin khách hàng</h3>
                                </div>
                                <div id="wrt-info">
                                    <div class="if-fm mn" >
                                        <label>
                                            Họ và tên <span class="note">*</span>
                                        </label>
                                        <input type="text" name="hoTenNguoiDK" 
                                        value="<% if(prevData.hoTenNguoiDK) { %><%= prevData.hoTenNguoiDK %><% } %>">
                                    </div>
                                    <div class="if-fm">
                                        <div class="if-fm ck">
                                            <label>Số CMTND/ Hộ Chiếu <span class="note">*</span></label>
                                            <input type="text" name="soCMT" 
                                            value="<% if(prevData.soCMT) { %><%= prevData.soCMT %><% } %>">
                                        </div>
                                        <div class="if-fm ck">
                                            <label>Ngày cấp <span class="note">*</span></label>
                                            <input type="date" name="ngayCapCMT" 
                                            value="<% if(prevData.ngayCapCMT) { %><%= prevData.ngayCapCMT %><% } %>">
                                        </div>
                                    </div>
                                    <div class="if-fm">
                                        <div class="if-fm ck">
                                            <label>Nơi cấp <span class="note">*</span></label>
                                            <input type="text" name="noiCapCMT"  
                                            value="<% if(prevData.noiCapCMT) { %><%= prevData.noiCapCMT %><% } %>">
                                        </div>
                                        <div class="if-fm ck">
                                            <label>Mã số thuế</label>
                                            <input type="text" name="MSTCaNhan"  
                                            value="<% if(prevData.MSTCaNhan) { %><%= prevData.MSTCaNhan %><% } %>">
                                        </div>
                                    </div>
                                    <div class="if-fm mn">
                                        <label>
                                            Địa chỉ  <span class="note">*</span>
                                        </label>
                                        <input type="text" name="diaChi" 
                                        value="<% if(prevData.diaChi) { %><%= prevData.diaChi %><% } %>">
                                    </div>
                                    <div class="if-fm">
                                        <div class="if-fm ck">
                                            <label>Mã số thuế công ty</label>
                                            <input type="text" name="MSTCongTy"
                                            value="<% if(prevData.MSTCongTy) { %><%= prevData.MSTCongTy %><% } %>">
                                        </div>
                                        <div class="if-fm ck">
                                            <label>Ngành nghề</label>
                                            <input type="text" name="nganhNghe" 
                                            value="<% if(prevData.nganhNghe) { %><%= prevData.nganhNghe %><% } %>">
                                        </div>
                                    </div>
                                    <div class="if-fm mn">
                                        <label>
                                            Công ty/ Tổ chức
                                        </label>
                                        <input type="text" name="tenCongTy" 
                                        value="<% if(prevData.tenCongTy) { %><%= prevData.tenCongTy %><% } %>">
                                    </div>
                                    <div class="if-fm mn">
                                        <label>
                                            Chức vụ
                                        </label>
                                        <input type="text" name="chucVu" 
                                        value="<% if(prevData.chucVu) { %><%= prevData.chucVu %><% } %>">
                                    </div>
                                    <div class="if-fm">
                                        <div class="if-fm ck">
                                            <label>Tỉnh/ Thành Phố <span class="note">*</span></label>
                                            <select name="tinhThanh" class="tinhThanh" onchange="getQuanHuyen(this.value)">
                                                <option value="">--Lựa chọn--</option>
                                            </select>
                                        </div>
                                        <div class="if-fm ck">
                                            <label>Quận/ Huyện <span class="note">*</span></label>
                                            <select name="quanHuyen" id="quanHuyen">
                                                <option value="">Chọn tỉnh thành trước</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="if-fm">
                                        <div class="if-fm ck">
                                            <label>Email cá nhân  <span class="note">*</span></label>
                                            <input type="text" name="email" 
                                            value="<% if(prevData.tenGD) { %><%= prevData.tenGD %><% } %>">
                                        </div>
                                        <div class="if-fm ck">
                                            <label>Số điện thoại  <span class="note">*</span></label>
                                            <input type="text" name="soDienThoai" 
                                            value="<% if(prevData.tenGD) { %><%= prevData.tenGD %><% } %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
            
                            <div class="info-user">
                                <div>
                                    <h3>Yêu cầu cấp chứng thư số</h3>
                                </div>
                                <div id="wrt-info">
                                    <div class="if-fm">
                                        <div class="if-fm ck">
                                            <label>Gói chứng thư <span class="note">*</span></label>
                                            <select name="goiCTSId" id="services" onchange="chooseService(this.value)">
                                                <option value="">Chọn gói CTS</option>
                                            </select>
                                        </div>
                                        <div class="if-fm ck">
                                            <label>Thời hạn sử dụng <span class="note">*</span> </label>
                                            <input type="text"  name="thoiHan" id="thoiHan" readonly="true" style="background:#eee">
                                        </div>
                                    </div>
                                    <div class="if-fm">
                                        <div class="if-fm ck">
                                            <label>Giá cước</label>
                                            <input type="text" name="gia" id="gia" readonly="true" style="background:#eee">
                                        </div>
                                        <div class="if-fm ck">
                                            <label>Người thực hiện <span class="note">*</span></label>
                                            <input type="text" name="nguoiThucHien" readonly="true" value="<%= locals.user.hoTen %>" style="background:#eee">
                                        </div>
                                        <input type="hidden" name="createdBy" value="<%= locals.user._id %>">
                                    </div>
                                </div>
                                <% if(typeof errors != 'undefined') { 

                                    errors.forEach(msg => {    
                                %> 
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <%= msg.msg %>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                           
                                <% }) }%>
                            </div>
                        </div>

                        <div class="hoso">
                            <div>
                                <h3>Hồ sơ khách hàng</h3>
                            </div>
                            <div id="wrt-info">
                                <div class="if-fm mn" >
                                    <label>
                                        Chọn tệp: 
                                    </label>
                                    <input type="file" name="fileHoSo" />

                                </div>
                            </div>
                        </div>
             
                        <div id="register">
                            <div class="rg-btn">
                                <input type="submit" value="Ghi lại" class="btn btn-primary">
                                <a href="/" class="btn btn-secondary">Đóng</a>
                            </div>
                        </div>
                        </form>
                    </div>
                
                </div>
            </div>
         
        </div>
        <div id='status' style="display:none; visibility:hidden"><%= message %></div>
    </body>
    <script src="../javascripts/init.js"></script>
</html>