
<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <%- include('header') %> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/personal.css">
        <link rel="stylesheet" href="/stylesheets/adminhome.css">
        <style>
          input[type="text"], input[type="password"]{
            width: 100%;
          }
        </style>
    </head>

    <body>
        <div class="wrapper">
            <div class="box">
                <%- include('menuDaiLy') %> 
            </div>
            <div class="container">
                <div class="main-body">
                
              
                
                      <div class="row gutters-sm">
                        <div class="col-md-4 mb-3">
                          <div class="card">
                            <div class="card-body">
                              <div class="d-flex flex-column align-items-center text-center">
                                <% if(user.gender==1){ %> 
                                  <img src="images/avatar/female.png" alt="male" class="rounded-circle" width="150">
                                <% }else{ %> 
                                  <img src="images/avatar/male.png" alt="male" class="rounded-circle" width="150">
                                <% } %> 
                                <div class="mt-3">
                                  <h4><%= user.hoTen %></h4>
                                  <p class="text-secondary mb-1"><%= role %></p>
                                  <p class="text-muted font-size-sm"><%= user.diaChi %></p>
                
                                </div>
                              </div>
                            </div>
                          </div>
                        
                        </div>
                        <div class="col-md-8">
                          <div class="card mb-3">
                            <h3 class="text-md-center ml-3 mt-3">Thông tin cơ bản</h3>
                            <form class="card-body" action="/users/edit/<%= user._id %>" method="POST">
                              <div class="row">
                                <div class="col-sm-3">
                                  <h6 class="mb-0">Họ tên</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                  <input type="text" name="hoTen" value="<%= user.hoTen %>">
                                </div>
                              </div>
                              <hr>
                              <div class="row">
                                <div class="col-sm-3">
                                  <h6 class="mb-0">Giới tính</h6>
                                </div>
                                <div class="col-sm-9 text-secondary" style="display:flex;align-items: center;">
                            
                                  <label for="male" style="margin: 0;padding-right:5px;font-size: 16px;">Nam</label>
                                  <input type="radio" name="gender" id="male" style="margin-top:2px;margin-right:10px" value="0" <%= (user.gender==0) ? 'checked' : null  %>>
                                  <label for="female" style="margin: 0;padding-right:5px;font-size: 16px;">Nữ</label>
                                  <input type="radio" name="gender" id="female" style="margin-top:2px;" value="1" <%= (user.gender==1) ? 'checked' : null  %>>
                 
                                </div>
                              </div>
                              <hr>
                              <div class="row">
                                <div class="col-sm-3">
                                  <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                  <input type="text" name="email" value="<%= user.email %>">
                                </div>
                              </div>
                              <hr>
                              <div class="row">
                                <div class="col-sm-3">
                                  <h6 class="mb-0">Số điện thoại</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                  <input type="text" name="soDienThoai" value="<%= user.soDienThoai %>">
                                </div>
                              </div>
                              <hr>
                              <div class="row">
                                <div class="col-sm-3">
                                  <h6 class="mb-0">Địa chỉ</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                  <input type="text" name="diaChi" value="<%= user.diaChi %>">
                                </div>
                              </div>
                              <hr>
                              <div class="row">
                                <div class="col-sm-3">
                                  <h6 class="mb-0">Khu vực</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                  <%= tinhThanh %>
                                </div>
                              </div>
                              <hr>
                              <div class="row">
                                <div class="col-sm-3">
                                  <h6 class="mb-0">Quyền</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                  <%= role %>
                                </div>
                              </div>
                              <hr>
                              <div class="row">
                                <div class="col-sm-12">
                                    <input type="submit" id="btnEditProfile" class="btn btn-info" value="Cập nhật">
                                </div>
                              </div>
                            </form>
                          </div>
                          <div class="card mb-3">
                            <h3 class="text-md-center ml-3 mt-3">Đổi mật khẩu</h3>
                            <form class="card-body" action="/users/change-password/<%= user._id %>" method="POST">
                              <div class="row">
                                <div class="col-sm-3">
                                  <h6 class="mb-0">Mật khẩu mới</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                  <input type="password" id="password">
                                </div>
                              </div>
                              <hr>
                              <div class="row">
                                <div class="col-sm-3">
                                  <h6 class="mb-0">Xác nhận mật khẩu mới</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                  <input type="password" name="password" id="confirmPassword">
                                </div>
                                  <div class="alert" role="alert">
                                    <p id="alertConfirmPassword"></p>
                                  
                                  </div>
                              </div>
                              <hr>
                              <div class="row">
                                <div class="col-sm-12">
                                    <input type="submit" id="btnChangePassword" class="btn btn-info" value="Thay đổi">
                                </div>
                              </div>
                              </form>
                          </div>
                           
                       
                        


                        </div>
                      </div>

                    </div>
                </div>
        </div>
</body>
<script>
  document.querySelector('#btnEditProfile').onclick = ()=>{
    alert('Cập nhật thành công')
  }
  document.querySelector('#btnChangePassword').onclick = ()=>{
    alert('Đổi mật khẩu thành công! Vui lòng đăng nhập lại')
  }
  const password = document.querySelector('#password')
  const confirmPassword = document.querySelector('#confirmPassword')
  confirmPassword.onkeyup = () => {
    if(confirmPassword.value.length==0){
      document.querySelector('#alertConfirmPassword').innerHTML = 'Vui lòng xác nhận mật khẩu'
    }else if(confirmPassword.value != password.value){
      document.querySelector('#alertConfirmPassword').innerHTML = 'Mật khẩu xác nhận không khớp'
    }else{
      document.querySelector('#alertConfirmPassword').innerHTML = null
    }
  }
</script>
</html>